:root {
    color-scheme: light dark;
    /* Background colors */
    /* Light theme */
    --light-pirmary-background: hsl(230 2% 3%);
    --light-secondary-background: hsla(230 30% 8% / .8);
    /* Dark theme */
    --dark-primary-background: hsl(230 30% 98%);
    --dark-secondary-background: hsla(230 32% 87% / .6);

    /* Font colors */
    /* Light theme */
    --white-text-color: hsl(230 100% 95%);
    /* Dark theme */
    --black-text-color: hsl(230 5% 15%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    color: light-dark(var(--black-text-color), var(--white-text-color));
    font-size: 62.5%;
    font-family: monospace, sans-serif;
    box-sizing: border-box;
}
body {
    min-block-size: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: light-dark(var(--dark-primary-background), var(--light-pirmary-background));
}
.todo-app {
    inline-size: 100%;
    max-inline-size: 350px;
    background-color: light-dark(var(--dark-secondary-background), var(--light-secondary-background));
    border-radius: 4px;
    padding: 1rem .6rem;
    
    & .todo-app__title {
        font-size: 3.8rem;
        text-align: center;
        margin-block-end: 2rem;
    }

    & .todo-app__input {
        display: flex;

        input {
            flex-grow: 1;
            background-color: var(--light-pirmary-background);
            color: inherit;
            font-size: 1.6rem;
            outline: none;
            border: none;
            border-radius: 2px;
            padding: .4rem .2rem;
        }

        button {
            font-size: 1.4rem;
            padding-inline: 1rem;
            border: none;
            outline: none;
            border-radius: 2px;
        }
    }
}