:root {
    /* Background colors */
    --pirmary-background: hsl(210 100% 8%);
    --secondary-background: hsla(210 2% 8% / .8);

    /* Font colors */
    --white-text-color: hsl(210 100% 95%)
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    color: var(--white-text-color);
    font-size: 62.5%;
    font-family: monospace, sans-serif;
    box-sizing: border-box;
}
body {
    min-block-size: 100vh;
}
.container {
    background-color: var(--pirmary-background);
    block-size: 100vh;
    inline-size: 100%;
}
.app-container {
    background-color: var(--secondary-background);
}