* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: monospace, sans-serif;
    color: hsl(210 92% 98%);
    font-size: 62.5%;
}
.container {
    background-color: hsl(210 100% 8%);
    block-size: 100vh;
    inline-size: 100%;
    font-size: 4.5rem;
}